@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.mt-10 {
  margin-top: 20%;
}

.guitar_div, .homemade_text{
  transition: all ease 1s;
}
.buy_me_button {
  transition: all ease 1s;
}


.homemade_text {
  position: absolute;
  margin-top: 5%;
  left: 53%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 3em;
}

.buy_me_button {
  position: absolute;
  margin-top: 25%;
  left: 53%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2em;
  padding: 0.3em 3em 0 3em;
  border: 2px solid black;
  z-index: 2;
  cursor: pointer;
}

.buy_me_button:hover, .buy_button:hover {
  background-color: #d7d4d4;
}

.order_div {
  display: none;
  position: absolute;
  top: 5%;
  left: 43%;
  width: 40em;
  height: 45em;
  border: 2px solid black;
  padding: 2em 4em 2em 4em;
}

.fill_up_headline, .shipping_info_headline {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2em;
}

.buy_button {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5em;
  border: 2px solid black;
  padding-top: 0.4em;
  z-index: 2;
  transition: all ease 0.5s;
  margin-top: 4em;
  cursor: pointer;
}

.test_sound {
  position: absolute;
  top: 35%;
  left: 31%;
  width: 7em;
  height: 7em;
  /* background-color: yellow; */
}

.shipping_info_div {
  display: none;
  opacity: 0;
  position: absolute;
  top: 5%;
  left: 0%;
  width: 40em;
  height: 45em;
  border: 2px solid black;
  padding: 2em 4em 2em 4em;
}

 .buyer_information{
   padding: 2em;
   margin-top: 4em;
   text-align: left;
   border: 2px solid #4f4f4f;
}
.buyer_information_p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5em;
}

.confirm_button {
  display: inline-block;
  min-width: 6em;
  margin-left: 1em;
  padding: 0.3em 3em 0 3em;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5em;
  border: 2px solid black;
  padding-top: 0.4em;
  z-index: 2;
  transition: all ease 0.5s;
  margin-top: 2em;
  cursor: pointer;
}

.correct:hover{
  background-color: rgba(163, 255, 153, 0.84);
}
.incorrect:hover{
  background-color: rgba(255, 200, 153, 0.84);
}

.confirmation_div {
  display: none;
  opacity: 0;
  position: absolute;
  top: 5%;
  left: 99%;
  width: 40em;
  height: 45em;
  border: 2px solid black;
  padding: 2em 4em 2em 4em;
}

.billing_information{
  margin-top: 35%;
  line-height: 2;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5em;
}

.order_table {
  /* min-height: 25em; */
  height: auto;
}
.form_div {
  height: auto;
}

.table_data {
  border: 2px solid black;
  text-align: center;
}
.paging {
  font-size: 20px;
  text-align: center;
}
.page_numbers {
  margin-left: 5px;
  margin-right: 5px;
}

tr, th, td {
  padding: 0;
}

.sort_button {
  padding: 0;
  border: none;
  background: none;
}

.tr_th_id {
  width: 80px;
}
.tr_th_name {
  width: 100px;
}
.tr_th_last_name {
  width: 120px;
}
.tr_th_email {
  width: 280px;
}
.tr_th_shipping_adr {
  width: 260px;
}
.tr_th_qty {
  width: 80px;
}
.tr_th_order_price {
  width: 120px;
}
.tr_th_order_number {
  width: 140px;
}
.tr_th_date {
  width: 120px;
}

.fill_up_headline a:link, .fill_up_headline a:visited, .fill_up_headline a:hover, .fill_up_headline a:active {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {

  .mt-10 {
      margin-top: 15%;
  }
  img {
    width: 50em;
  }
  .buy_me_button {
    margin-top: 20%;
    left: 40%;
  }
  .homemade_text {
    margin-top: 2%;
    left: 40%;
  }
  .order_div {
    left: 40%;
    width: 32em;
    height: 44em;
  }
  .shipping_info_div {
    width: 32em;
    height: 44em;
  }
  .confirm_button {
    margin-left: 1em;
    padding: 0.3em 1em 0 1em;
  }
  .confirmation_div {
    width: 32em;
    height: 44em;
  }
}
