body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-weight: 100;
    box-sizing: border-box;

}

.tablet-menu {
    display: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: #9f8b9b;
    margin-bottom: 1vh;
}

.au-10 {
    height: 10vh;
}

.au-15 {
    height: 15vh;
}

.au-17 {
    height: 17em;
}
.au-18 {
    height: 18em;
}
.au-20 {
    height: 20vhem;
}


.au-35 {
    height: 35em;
}
.au-40 {
    height: 40vh;
}
.au-50 {
    height: 50vh;
}
.au-70 {
    height: 70vh;
}

.op-1 {
    opacity: 0.4;
    z-index: 3;

}

svg {
    position: absolute;

}
line {
    z-index: 10;
    display: block;
    position: relative;
}
nav.mdl-grid {
    padding-left: 0px;
    padding-right: 0px;
}

.mainWindows {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;

}

.oh {
    overflow: hidden;
}

.gallery-formating{
    overflow-y: scroll;
    border-bottom: transparent 1vw solid;
    padding-left: 3vw;
    padding-right: 2vw;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.thumb {
    width: 15vw;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    margin-left: 1vw;
    margin-top: 1vw;
}

.thumb:hover {
    filter: grayscale(0%);
    }

a.list-group-item {
    font-weight: 100;
    background-color: transparent;
    border: none;
    color: white;
}

a.list-group-item-action:hover {
    font-weight: 100;
    background-color: transparent;
    border: none;
    color: #FE01F5;
}



.list-group-item.active {
    font-weight: 100;
    z-index: 2;
    background-color: transparent;
    border: none;
    box-shadow:inset 0px 0px 0px 1px #FE01F5;
    color: #FE01F5;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

a.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* nuima keires desines padding*/

.np {
    padding-left: 0;
    padding-right: 0;
}

/* nuima keires desines margin*/

nav.nm {
    margin-left: 0;
    margin-right: 0;
}

main.nm {
    margin-left: 0;
    margin-right: 0;
}

div.nm {
    margin: 0;
}

.scrl-music {
    overflow: scroll;
    overflow-x: hidden;

}

.pad-music {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}



img.logo {
    position: absolute;
    width: 20em;
    opacity: 0.5;
}

div.logo-links {
    display: inline-block;
    float: right;
    margin-top: 3vh;
    margin-right: 12vw;
}
.header-logo {
    width: 2vw;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.header-logo:hover {
    opacity: 1;
}

#svg-line {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#svg-line-first {
    opacity: 0.8;
    filter:grayscale(80%);
}

.draggable {
    position: relative;
    z-index: 4;
    width: 16em;
    margin-left: auto;
    margin-right: auto;
}

.debesis {
    position: absolute;
    opacity: 0.7;
}

.lietus {
    visibility: hidden;
    position: absolute;
    top: 6em;
    right: -1em;
    opacity: 0.5;
}
.sideLinks {
    font-size: 2vh;
}
.for-borders {
    padding: 40px;
}

.exit {
    width: 2vw;
}

.popup-formating {

    position: absolute;
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.85);


}

.photo-formating {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.carousel-inner {
    height: 80vh;
}

.carousel-item {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#music-cross-button {
    position: relative;
    float: right;
    margin-top: 83vh;
    margin-right: 5px;
}

#cross-button {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}


#musicWindow {
    display:block;
    visibility: hidden;

}

.music-formating {
    overflow-y: scroll;
    border-bottom: transparent 1vw solid;
    padding-left: auto;
    padding-right: auto;
}

.card-position {
    margin-left: auto;
    margin-right: auto;
    top: 4em;
}


.text-formation {
    margin-top: 2em;
    color: #aaa;
    font-size: 20px;
}
.profile-picture {
    position: relative;
    width: 12vw;
    height: auto;
    float: right;
    margin: 1em;
    opacity: 0.6;
}

.about-formation {
    padding: 2em;
    overflow-y: auto;
}


#divForIframe {
    display: none;
    position: absolute;
    left: 16vw;
    width: 58vw;
    height: 86vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.85);
}

.visIframes {
    display: none;
    position: absolute;
    top: 2vh;
    left: 14vw;


}


img.alb-img-format {
    width: 19em;
    height: auto;
    margin: 5px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

}

img.alb-img-format:hover {
        /*box-shadow: 0px 0px 16px 17px rgb(37, 113, 130);*/
        opacity: 1;
}

.music-padding {
    padding-top: 3em;
}


div.mdl-cell mdl-cell--2-col {
    margin-left: 0;
    margin-right: 0;
}

div#font-edit {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 24.4px;
}

.text-span {
    border-top: solid 1px #A09C9C;
    border-bottom: solid 1px #A09C9C;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
    max-width: 100%;
    width: calc(100% - 2em);
    vertical-align: top;
    transition: all 1s ease;
}

.text-textarea {
    padding: 0;
    margin-top: 1.2em;
    width: 100%;
    max-height: 8em;
    background: transparent;
    color: #fff;
    font-size: 1.55em;
    border: none;
}
.text-textarea:focus {
    outline: none;
}

.submit-text {
    position: relative;
    background-color: transparent;
    border: 2px solid #A09C9C;
    font-size: 1.55em;
    color: #aaa;
    width: 10em;
    height: 2em;
    float: right;
    margin-right: 2vw;
    transition: all 0.3s ease;
}
.submit-text:hover {
    border: 2px solid #33e71f;
    color: #33e71f;
}


.form-formation {
    margin-top: 4em;
}

.h2-color {
color: #aaa;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
#fullSizeWrapper {
    display: none;
}
#LogIn-click {
    position: absolute;
    width: 2em;
    height: 2em;
    z-index: 6;
    transition: all 1s ease;

}
#LogIn-click:hover {
    background-color: yellow;
    opacity: 0.5;
}
#LogInWindow {
    display: none;
    position: absolute;
    width: 48vw;
    height: 20em;
    left: 25vw;
    z-index: 6;
    background-color: rgba(207, 147, 33, 0.76)
}

.login-inputs {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    height: 40px;
    outline: none;
    color: white;
    font-size: 24px;
}
.login-form {
    position: absolute;
    left: 15%;
    top: 40%;
}

.button-LogIn {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    width: 100px;
    height: 33px;
    margin-left: 10px;

}

.button-LogIn:hover {
    color: #000;
    background-color: rgba(#9ba5af, 0.66);
    border-color: #000
}

.button-LogIn.focus, .button-LogIn:focus {
    box-shadow: 0 0 0 3px #000
}

.button-LogIn.active, .button-LogIn:active {
    color: #000;
    background-color: rgba(#9ba5af, 0.66);
    border-color: #000
}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(187, 187, 187, 0.64);

@media screen and (max-width: 1610px) {
    body {
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 100%;
        font-weight: 200;
        box-sizing: border-box;
    }
    .thumb {
        width: 15vw;
        filter: grayscale(100%);
        transition: all 0.2s ease-in-out;
        margin-left: 7px;
        margin-top: 1vw;
    }

}

@media screen and (max-width: 1440px) {
    body {
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 100%;
        font-weight: 200;
        box-sizing: border-box;
    }
    .thumb {
        width: 15vw;
        filter: grayscale(100%);
        transition: all 0.2s ease-in-out;
        margin-left: 7px;
        margin-top: 1vw;
    }
}
@media screen and (max-width: 1024px) {
    body {
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 100%;
        font-weight: 200;
        box-sizing: border-box;
    }
    .thumb {
        width: 15vw;
        filter: grayscale(100%);
        transition: all 0.2s ease-in-out;
        margin-left: 7px;
        margin-top: 1vw;
    }
    #draggable {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .tablet-menu {
        display: block;
    }
    body {
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fafafa;
        width: 100%;
        height: 100%;
        font-weight: 200;
        box-sizing: border-box;
    }
    .thumb {
        width: 15vw;
        filter: grayscale(100%);
        transition: all 0.2s ease-in-out;
        margin-left: 7px;
        margin-top: 1vw;
    }
    #draggable {
        display: none;
    }

    main {
        width: 30em;
        height: 20em;
    }
    .list-group {
        margin-top: 4vw;
        display: inline-block;
        width: 100%;
    }
    #allNavigation {
        display: none;
    }

    div.logo-links {
            display: none;
    }
    #divForIframe {
        display: none;
        position: absolute;
        left: 0vw;
        width: 100%;
        height: 88vh;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.85);
    }
    .visIframes {
        width: 70vw !important;
    }
    .sideLinks {
        font-size: 3vh;
        padding: 3px;
        color: #cdcdcd;
    }
    .sideLinks:focus {
        box-shadow:inset 0px 0px 0px 1px #FE01F5;
        color: #FE01F5;
    }

    .photo-formating {
        margin-top: 24vh;
    }

    img.alb-img-format {
        width: 12em;
        height: auto;
        margin: 5px;
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;

    }
    .au-70 {
    height: 65vh;
    }
    .main-windows-formation {
        width: calc(104.5% - 16px) !important;
    }

}
@media screen and (max-width: 515px) {

        .sideLinks {
            font-size: 2vh;

}
}
