header {
  transition: 1s ease all;
  opacity: 0.8;
}

header:hover {
  opacity: 1;
}

.fira_font{
  font-family: 'Fira Sans', sans-serif;
}
.michroma_font{
  font-family: 'Michroma', sans-serif!important;
}

#order_form {
  position: absolute;
  left: 3%;
  border: 2px solid black;
  width: 70%;
  height: 33em;
}
#order_list_button{
  font-size: 1.2em;
}
#confirmation_window {
  display: none;
  position: absolute;
  left: 3%;
  border: 2px solid black;
  width: 70%;
  height: 33em;
}
.mdl-textfield__label{
   margin-bottom:0px;
 }
#mystery_box_pic{
  margin-top: 45%;
}
#buy_button {
  width: 33.33%;
  border: 2px solid rgb(124, 124, 124);
}
#error_report{
  display: none;
  color: red;
}
#golden_phrase {
  color: #000;
}
#golden_phrase:hover {
  text-decoration: none;
}
.add_underline{
  text-decoration: underline;
}

@media screen and (max-width: 880px) {
  #order_form.ml-5 {
    margin-left: 1em!important;
  }
  button.mt-5 {
    margin-top: 1em!important;
  }
  #order_form {
    border: 2px solid black;
    width: 90%;
    height: 30em;
  }
  #mystery_box_pic{
    margin-top: 130%;
  }
}
