.highlight {
  text-decoration: underline;
  font-weight: bold!important;
}

a.columns {
  color: red;
}

.helvetica_font {
  font-family: Helvetica, sans-serif!important;
  font-weight: 400;
}

/* @media screen and (max-width: 880px) {
  body{
    padding-right: 10em!important;
    padding-left: 10em!important;
  }
} */
