body {
    background-color: #eee;
}
input {
    font-size: 20px;
}
.custom {
    background-color: rgb(216, 233, 31);
    width: 142px;
}
.time, .mins {
    margin-left: 0;
    margin-right: 0;

}
.timepicker {
    width: 150px;
}

select {
    width: 120px;
    height: 28px;
    font-size: 20px;
}

.inn {
    border: 2px solid #000;
    background-color: #fff;
}

th, td {
    border: 2px solid #000;
}

.tableRow {
    background-color: #6cdd04;
}

.date-formation {
    width: 100px;
}
.departed-formation {
    width: 100px;
}
.protracted-formation {
    height: 36px;
}

.error {
    color :red;
}

.panel1 {
    background-color: rgb(255, 252, 131);
    padding-top: 15px;
    padding-bottom: 15px;
}

.panel2 {
    background-color: rgb(189, 255, 131);
    padding-top: 15px;
    padding-bottom: 15px;
}

.full-table-font-size {
    font-size: 20px;
}

.buttons-from-driver-table
{
    margin-left: 3vw;
    margin-top: 5px;
}

.buttons-from-vechiles-table {
    margin-left: 18vw;
    margin-top: 5px;
    margin-bottom:10px;
}

.driver-button {
    width: 150px;
    font-weight: 400;
    font-size: 22px;

}

.logout-button {
    float: right;
    width: 150px;
    font-weight: 400;
    font-size: 22px;
    margin-top:1vh;
}

#showDrivers {
    width: 27vw;
}

#showVechiles {
    width: 50vw;
}

.choose-button {
    width: 350px;
    font-weight: 400;
    font-size: 22px;
    margin-top: 2vh;
}

.chooseSelect {
    width: 400px;
    margin-left: 7vw;
}

.chooseSelect2 {
    width: 400px;

}

.adm-1{
    width: 60px;
}
.adm-2{
    width: 140px;
}
.adm-3{
    width: 350px;
}
.adm-4{
    width: 80px;
}
.adm-5{
    width: 80px;
}
.adm-6{
    width: 150px;
}

#divForShowingDrivers {
    display: none;
    background-color: rgba(93, 241, 237, 0.8);
    width: 27vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

#divForShowingVechiles{
    display: none;
    background-color: rgba(93, 241, 237, 0.8);
    width: 50vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fuel-Information {
    display: block;
    position: absolute;
    top: 38px;
    width: 400px;
    height: auto;
    background-color: rgba(86, 204, 190, 0.58);
    border: 1px solid rgba(0, 0, 0, 0.65);
}

#chooseVechileDiv {
    display: none;
    position: absolute;
    width: 255px;
    height: 75px;
    background-color: rgba(93, 241, 237, 0.8);
    margin-left: 20px;
}

.choose-button-vechile {
    font-weight: 400;
    font-size: 22px;
    margin-left: 20px;

}

#select-vechile-driver {
    width: 200px;
    margin-left: 27px;
    margin-top: 20px;
}

.bn {
    border: none;
}














@import "bourbon";


.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}
.wrapper2 {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.form-signin2 {
  max-width: 475px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #cbfcaf;
  border: 1px solid rgba(0,0,0,0.1);
}

.form-control2 {
  position: relative;
  font-size: 20px;
  height: auto;
  padding: 6px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	   border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
