.au {
  height: 4em;
}

.aux {
  height: 10em;
}

.cfg-button {
  width: 8vw;
  height: 8vh;
  background-color: #2bb3c8;
  border: none;
  box-shadow:inset 0px 0px 5px 1px rgba(15, 77, 77, 1);
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.cfg-button:hover {
  background-color: rgb(23, 115, 129);
  box-shadow:inset 0px 0px 5px 1px rgba(15, 77, 77, 1);
}

.atl-choose {
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
}

.atl-span {
  font-size: 20px;
}

#atl-input {
  width: 400px;
  font-size: 20px;
}

.dn {
  display: none;
}

#add_icon {
  width: 3em;
  height: 3em;
  opacity: 0.8;
}
#add_icon:hover {
  opacity: 1;
}

.autorines {
  border: 1px solid black;
}

#autorines_input {
  height: auto;
  background-color: #35B7FF;
}

.procentu_redagavimas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27vh;
  background-color: rgba(138, 255, 87, 0.9);
  z-index: 2;
}

.cross {
float: right;
}
