body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-weight: 100;
    box-sizing: border-box;

}

h1 {
    color: #9f8b9b;
    margin-bottom: 1vh;
}

a {
    font-weight: 200;
}



.au-10 {
    height: 10vh;
}

.au-15 {
    height: 15vh;
}

.au-17 {
    height: 17em;
}
.au-18 {
    height: 18em;
}
.au-20 {
    height: 20vhem;
}


.au-35 {
    height: 35em;
}
.au-40 {
    height: 40vh;
}
.au-50 {
    height: 50vh;
}
.au-70 {
    height: 70vh;
}

.look {
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    transition: all 5s ease-in-out;
}
.op-1 {
    opacity: 0.4;
    z-index: 3;

}
ul {
    list-style: none;
}
.mb-li {
    margin-bottom: 1em;
}

.mt-ul {
    margin-top: 4em;
}

svg {
    position: absolute;

}
line {
    z-index: 10;
    display: block;
    position: relative;
}
nav.mdl-grid {
    padding-left: 0px;
    padding-right: -0px;
}

.mainWindows {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;

}

.oh {
    overflow: hidden;
}

.gallery-formating{
    overflow-y: scroll;
    border-bottom: transparent 1vw solid;
    padding-left: 3vw;
    padding-right: 2vw;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.thumb {
    width: 15vw;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    margin-left: 1vw;
    margin-top: 1vw;
}

.thumb:hover {
    filter: grayscale(0%);
    }

a.list-group-item {
    font-weight: 100;
    background-color: transparent;
    border: none;
    color: white;
}

a.list-group-item-action:hover {
    font-weight: 100;
    background-color: transparent;
    border: none;
    color: #FE01E7;
}

/*a.list-group-item-action:focus {
    background-color: transparent;
    border: none;
    box-shadow:inset 0px 0px 0px 1px #FE01E7;
    color: #FE01E7;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}*/

.list-group-item.active {
    font-weight: 100;
    z-index: 2;
    background-color: transparent;
    border: none;
    box-shadow:inset 0px 0px 0px 1px #FE01E7;
    color: #FE01E7;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

a.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* nuima keires desines padding*/

.np {
    padding-left: 0;
    padding-right: 0;
}

/* nuima keires desines margin*/

nav.nm {
    margin-left: 0;
    margin-right: 0;
}

main.nm {
    margin-left: 0;
    margin-right: 0;
}

.scrl-music {
    overflow: scroll;
    overflow-x: hidden;

}

.pad-music {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}



img.logo {
    position: absolute;
    width: 20em;
    opacity: 0.5;
}

div.logo-links {
    display: inline-block;
    float: right;
    margin-top: 3vh;
    margin-right: 12vw;
}
.header-logo {
    width: 2em;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.header-logo:hover {
    opacity: 1;
}

#svg-line {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#svg-line-first {
    opacity: 0.8;
    filter:grayscale(80%);
}

.draggable {
    position: relative;
    z-index: 4;
    width: 16em;
    margin-left: auto;
    margin-right: auto;
}

.debesis {
    position: absolute;
    opacity: 0.4;
}

.lietus {
    display: none;
    position: absolute;
    top: 6em;
    right: -1em;
    opacity: 0.5;
}
.sideLinks {
    font-size: 2vh;
}
.for-borders {
    padding: 40px;
}

.exit {
    width: 2vw;
}

.popup-formating {

    position: absolute;
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.85);


}

.photo-formating {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.carousel-inner {
    height: 80vh;
}

.carousel-item {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#music-cross-button {
    position: relative;
    float: right;
    margin-top: 80vh;
    margin-right: 5px;
}

#cross-button {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

#musicWindow {
    display:block;
    visibility: hidden;

}

.music-formating {
    overflow-y: scroll;
    border-bottom: transparent 1vw solid;
    padding-left: auto;
    padding-right: auto;
}


 /*linijos animacija*/

/*.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}*/

.text-formation {
    color: white;
    font-size: 22px;
}

.about-formation {
    padding: 2em;
}


#divForIframe {
    display: none;
    position: absolute;
    left: 17vw;
    width: 57vw;
    height: 84vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.85);
}

.visIframes {
    display: none;
    position: absolute;
    top: 2vh;
    left: 14vw;


}


.alb-img-format {
    width: 18em;
    height: 18em;
    margin: 1em;
    transition: all 0.1s ease-in-out;
}

.alb-img-format:hover {
        box-shadow: 0px 0px 16px 17px rgb(37, 113, 130);
}

.alb-img-format:active {
        box-shadow: 0px 0px 16px 17px rgb(37, 113, 130);
}

div.mdl-cell mdl-cell--2-col {
    margin-left: 0;
    margin-right: 0;
}








@media screen and (max-width: 1610px) {
    body {
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 100%;
        font-weight: 200;
        box-sizing: border-box;
    }
    .thumb {
        width: 15vw;
        filter: grayscale(100%);
        transition: all 0.2s ease-in-out;
        margin-left: 7px;
        margin-top: 1vw;
    }

}

@media screen and (max-width: 1440px) {


        margin-left: 7px;
    }

}

@media screen and (max-width: 374px) {
    body {
        background: url("../images/background.jpg") -125px -100px;
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 667px;
        font-weight: 200;
        box-sizing: border-box;
    }
    .debesis {
        display: none;
    }


}
