#page-title {
  border-top: 2px solid #440717;
  border-bottom: 2px solid #440717;
}

.comment-area {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  padding: 1em;
}

.reply_btn:hover {
  cursor: pointer;
}

.reply_comment_form {
  border: 1px solid rgb(246, 228, 255);
}

.main_comment_form {
  border: 1px solid rgb(246, 228, 255);
  margin-top: 1em;
  margin-bottom: 1em;
}

.comment_form {
  transition: all 0.3s ease;
}

.main_comment_form div, .reply_comment_form {
  transition: all ease 2s;
}

@media screen and (max-width: 600px) {
  .reply {
    margin-left: 0.5em;
  }
  .comment div {
    background-color: #b6b6b6;
  }
  .reply div {
    background-color: #e2dfdf;
  }
  .main_comment_form, .reply_comment_form {
    padding: 1em!important;
  }
  div.row.pl-5.pr-5 {
    padding-left: 1em!important;
    padding-right: 1em!important;
  }
}
